<header class="barra-geral">
    <a routerLink="/animes/">
    <div class="pt">
        
        <span class="material-symbols-outlined">
        lists
       
         </span>
         <h1>AnimesYB</h1>
       
        </div>
    </a>
   

        <div class="icones">
            <a routerlink="/vip/">
            <div class="vip" >
                
                <span class="material-symbols-outlined" >
                    star
                    </span>
                    <h2 >Seja membro vip ANIMESYB</h2>
               
            </div>
             </a>
            <a routerLink="/perfil/">
                    <span  class="material-symbols-outlined">
                        person
                        </span>
                    </a>

        </div>
  <app-barra-pesquisa></app-barra-pesquisa>
</header>
