<body>
    

    <div class="container">
        <h1 class="titulo">Bem-vindo!</h1>
        <form class="login-form">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" placeholder="Digite seu email" required>
            </div>
            <div class="form-group">
                <label for="senha">Senha:</label>
                <input type="password" id="senha" name="senha" placeholder="Digite sua senha" required>
            </div>
            <a routerLink="/animes/">
            <button type="submit" class="btn">Entrar</button>
        </a>
            <p class="esqueci-senha">Esqueceu sua senha?</p>
        </form>
        <p class="registrar">Ainda não é membro ? <a routerLink="/vip/" class="join-us">Torne - se VIP</a></p>
    </div>

</body>

