@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

img.imgg,
.lançamento-card,
.product-list__card {
  animation: fadeIn 0.8s ease-in;
}

.scroll-buttons-wrapper {
  position: relative;
}

.scroll-button-return,
.scroll-button {
  position: absolute;
  top: 35%;
  background-color: #000;
  color: #fff;
  padding: 6px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 2;
  transition: transform 0.3s ease;
}

.scroll-button-return:hover,
.scroll-button:hover {
  transform: scale(1.1);
}

.scroll-button-return {
  left: 10px;
}
.scroll-button {
  right: 10px;
}

.laçamento-list {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 20px;
  padding: 20px;
  background-image: url(./ceu.jpg);
}

.lançamento-card {
  scroll-snap-align: start;
  display: inline-block;
  width: 180px;
  height: auto;
  border: 1px solid white;
  background-color: rgb(32, 32, 32);
  box-shadow: rgba(255, 253, 253, 0.2) 0px 12px 18px 0px;
  flex-shrink: 0;
}

.lançamento-card img {
  max-width: 200px;
}
h2.lancamento__name{
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;

}
p.anoLancamento{
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;

}
h1.titulo,
h2.titulo {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 36px;
  color: #ffffff;
  text-align: center;
  padding: 40px 0;
  background-image: url(./ceu.jpg);
}

/* Seção animes */
.product-list {
  padding: 40px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  background-image: url(./ceu.jpg);
}

.product-list__card {
  border-radius: 4px;
  width: 270px;
  height: auto;
  background-color: #000;
  box-shadow: rgba(255, 253, 253, 0.2) 0px 12px 18px 0px;
  transition: transform 0.3s ease-in-out;
}

.product-list__card:hover {
  outline: 1px solid var(--blue);
  transform: scale(1.05);
}

.product-list__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.product-list__card img {
  height: 250px;
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.product-item__name,
.product-item__genero,
.product-item__price {
  color: #fff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}

.product-item__by-button {
  background-color: #fff;
  color: #000;
  font-size: 16px;
  padding: 6px 10px;
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
}

@media (max-width: 768px) {
  h1.titulo,
  h2.titulo {
    font-size: 26px;
    padding: 20px;
  }

  .lançamento-card {
    width: 140px;
  }

  .lançamento-card img {
    max-width: 140px;
  }

  .scroll-button,
  .scroll-button-return {
    top: 40%;
    padding: 4px;
  }

  .product-list {
    flex-direction: column;
    align-items: center;
  }

  .product-list__card {
    width: 90%;
  }
}
