<body>
    
    <header>
        <h1>Seja membro VIP e tenha acesso a vantagens exclusivas!</h1>
      </header>
<main>
    <section class="planos">
      <h2>Escolha o plano que mais combina com você:</h2>
      <div class="plano-container">
        <div class="plano bronze">
          <h3 class="title">Bronze</h3>
          <p class="valor">R$ 19,90/mês</p>
          <ul class="beneficios">
            <li>Acesso a animes exclusivos</li>
            <li>Download ilimitado de episódios</li>
            <li>Sem anúncios</li>
          </ul>
          <button class="btn">Assinar</button>
        </div>

        <div class="plano prata">
          <h3 class="title">Prata</h3>
          <p class="valor">R$ 39,90/mês</p>
          <ul class="beneficios">
            <li>Todos os benefícios do plano Bronze</li>
            <li>Acesso a filmes de anime</li>
            <li>Download em alta qualidade</li>
            <li>Acesso a conteúdo exclusivo</li>
          </ul>
          <button class="btn">Assinar</button>
        </div>

        <div class="plano ouro">
          <h3 class="title">Ouro</h3>
          <p class="valor">R$ 59,90/mês</p>
          <ul class="beneficios">
            <li>Todos os benefícios dos planos Bronze e Prata</li>
            <li>Acesso a eventos exclusivos</li>
            <li>Download em 4K</li>
            <li>Suporte prioritário</li>
          </ul>
          <button class="btn">Assinar</button>
        </div>
      </div>
    </section>

 
  </main>
</body>